[Unit]
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/bluepairy --hid 'Active Star AS4'

[Install]
WantedBy=bluetooth.target
